<div class="home-container">
  <div class="background">
      <div class="content">
        <div class="circle left">
          <span class="dollar-sign">$</span>
        </div>
        <h1 class="brand" id="financial">Financial</h1>
        <img class="logo" src="assets/img/piggy_bank.png" alt="Piggy Bank" />
        <h1 class="brand" id="clarity">Clarity</h1>
        <div class="circle right">
          <span class="dollar-sign">$</span>
        </div>
        </div>
      <div class="buttons">
        <button class="login">LOGIN</button>
        <button class="signup">SIGN UP</button> 
      </div>
  </div>
</div>
