<div class="create-account-container">
    <div class="background">
        <div class="content">
            <h1 class="brand" id="create-account">create account</h1>
            <div class="img left">
                <img class="logo" src="assets/img/Piggybank_faded.png" alt="Piggybank faded" /> 
            </div>
            <label for="flname">Enter text:</label>
            <input type="text" id="flname" name="flname" placeholder="name">
            <label for="age">Enter text:</label>
            <input type="text" id="age" name="age" placeholder="age">
            <label for="email">Enter text:</label>
            <input type="text" id="email" name="email" placeholder="email" >
            <label for="password">Enter text:</label>
            <input type="text" id="password" name="password" placeholder ="password">
        </div>
        <div class="button">
            <button class="create">Create</button>
        </div>
    </div>
</div>