<!-- <p>
    <mat-toolbar color="primary">
      <span>Angular CRUD</span>
    </mat-toolbar>
  </p>
   -->

   <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-brand">FINANCIAL CLARITY</div>
      
      <ul class="navbar-menu">
        <li class="navbar-item"><a href="/home" class="navbar-link">Home</a></li>
        <li class="navbar-item"><a href="/savings" class="navbar-link">Savings</a></li>
        <li class="navbar-item"><a href="/goals" class="navbar-link">Goals</a></li>
        <li class="navbar-item"><a href="/budgets" class="navbar-link">Budgets</a></li>
        <li class="navbar-item"><a href="/settings" class="navbar-link">Settings</a></li>
      </ul>
      
      <div class="navbar-user">Hi, user</div>
    </div>
  </nav>