<div class="home-container">
  <div class="background">
      <div class="content">
        <div class="circle left">
          <span class="dollar-sign">$</span>
        </div>
        <h1 class="brand" id="financial">Financial</h1>
        <img class="logo" src="assets/img/piggy_bank.png" alt="Piggy Bank" />
        <h1 class="brand" id="clarity">Clarity</h1>
        <div class="circle right">
          <span class="dollar-sign">$</span>
        </div>
        </div>
      <div class="buttons">
        <a class="login" routerLink="/login">LOGIN</a>
        <a class="signup" routerLink="/login/register">SIGN UP</a>
      </div>
  </div>
</div>
